<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Complaint Management System</title>
    <script>
        function setDate(){
            var date = document.getElementById('date');
            var d = new Date();
            date.value = d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();
        }
    </script>
</head>
<body onload="setDate()">
	<%if(role == 'general'){%>
		<nav>
			<a href="/">Back to Home</a>
		</nav>
	<%}%>
	<%if(role == 'student' || role == 'secy' || role == 'admin'){%>
    	<p>Hello <%=name%></p>
		<nav>
	        <a href="../auth/logout">LogOut</a><br/>
	        <a href="../home">Home</a><br/>
	        <a href="../history">History</a><br/>
	        <%if(role != 'admin'){%>
	        	<a href="../new_complaint">New Complaint</a>
	        <%}%>
	    </nav>
	<%}%>
	<%if(typeof result[0] != 'undefined'){%>
		<%if(role == 'secy'){%>
			<%if(result[0].admin_id == null && result[0].resolved == 0){%>
				<%var forwardLink = '../forward/?id='+result[0].complaint_id+'&did='+result[0].dept_id;%>
				<a href="<%=forwardLink%>">Forward it</a>
			<%}%>
		<%}%>
		<p>Complaint Id: <%=result[0].complaint_id%></p>
		<p>Complaint Subject: <%=result[0].complaint_subject%></p>
		<p>Complaint Text: <%=result[0].complaint_text%></p>
		<p>Department Name: <%=result[0].dept_name%></p>
		<br/>
		<%if(result[0].from_to != null){%>	
			<% for(var i=0;i<result.length;i++ ){ %>
			   	<p>Date: <%=String(result[i].date).slice(0,15)%></p>
				<%if(result[i].from_to[0]=='S'){%>
					<p>Secy: <%=result[i].reply_text%></p>
				<%}else if(result[i].from_to[0]=='T'){%>
					<p>Student: <%=result[i].reply_text%></p>
				<%}else{	%>
					<p>Admin: <%=result[i].reply_text%></p>
				<%}%>
				<br/>
			<%}%>
		<%}%>
		<%if(result[0].resolved == 0){%>
			<%if((role == 'student') || (role == 'secy' && result[0].student_id == null)){%>
				<%var deleteLink = '../delete/?id='+result[0].complaint_id;%>
				<a href="<%=deleteLink%>">Delete Complaint</a>
			<%}%>
			<form method="post">
				<p>Reply to this: </p><p><textarea name="reply_text" rows="4" cols="50"></textarea></p>
				<p>Date: <input type="text" name="date" readonly id="date"></p>
				<button type="Submit">Send</button>
			</form>
		<%}%>
	<%}else{%>
		<p>Data Not Found</p>
	<%}%>
</body>
</html>