<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Complaint Management System</title>
    <script>
        function setDate(){
            var date = document.getElementById('date');
            var d = new Date();
            date.value = d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();
        }
        function changeRating(n){
	    	var num = Number(n);
	    	var stars = document.getElementsByClassName('fa');
	    	document.getElementById('stars').value = num;
	        for(var i=0;i<5;i++){
	        	if(i<num)
	        	stars[i].className = 'fa fa-star checked';
	            else
	        	stars[i].className = 'fa fa-star';
	        }
	    }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.checked {
		  color: orange;
		}
		.stars{
			border: none;
		    background-color: transparent;
		}
		#stars{
			display: none;
		}
	</style>
</head>
<body onload="setDate()">
	<%if(role == 'general'){%>
		<nav>
			<a href="/">Back to Home</a>
		</nav>
	<%}%>
	<%if(role == 'student' || role == 'secy' || role == 'admin'){%>
    	<p>Hello <%=name%></p>
		<nav>
	        <a href="../../auth/logout">LogOut</a><br/>
	        <a href="../home">Home</a><br/>
	        <a href="../history">History</a><br/>
	        <%if(role != 'admin'){%>
	        	<a href="../new_complaint">New Complaint</a>
	        <%}%>
	    </nav>
	<%}%>
	<%if(typeof result[0] != 'undefined'){%>
		<%if(role == 'secy'){%>
			<%if(result[0].admin_id == null && result[0].resolved == 0){%>
				<%var forwardLink = '../forward/?id='+result[0].complaint_id+'&did='+result[0].dept_id;%>
				<a href="<%=forwardLink%>">Forward it</a>
			<%}%>
		<%}%>
		<p>Complaint Id: <%=result[0].complaint_id%></p>
		<p>Complaint Subject: <%=result[0].complaint_subject%></p>
		<p>Complaint Text: <%=result[0].complaint_text%></p>
		<p>Date: <%=String(result[0].cdate).slice(0,15)%></p>
		<p>Department Name: <%=result[0].dept_name%></p>
		<br/>
		<%if(result[0].from_to != null){%>	
			<% for(var i=0;i<result.length;i++ ){ %>
			   	<p>Date: <%=String(result[i].date).slice(0,15)%></p>
				<%if(result[i].from_to[0]=='S'){%>
					<p>Secy: <%=result[i].reply_text%></p>
				<%}else if(result[i].from_to[0]=='T'){%>
					<p>Student: <%=result[i].reply_text%></p>
				<%}else{%>
					<p>Admin: <%=result[i].reply_text%></p>
				<%}%>
				<br/>
			<%}%>
		<%}%>
		<%if(result[0].resolved == 0){%>
			<%if((role == 'secy' && result[0].student_id != null) || role == 'admin'){%>
				<%var resolveLink = '../resolve/?id='+result[0].complaint_id+'&date='+result[0].cdate;%>
				<a href="<%=resolveLink%>">Resolved</a>
			<%}%>
			<%if((role == 'student') || (role == 'secy' && result[0].student_id == null)){%>
				<%var deleteLink = '../delete/?id='+result[0].complaint_id;%>
				<a href="<%=deleteLink%>">Delete Complaint</a>
			<%}%>
			<form method="post">
				<p>Reply to this: </p><p><textarea name="reply_text" rows="4" cols="50"></textarea></p>
				<p>Date: <input type="text" name="date" readonly id="date"></p>
				<button type="Submit">Send</button>
			</form>
		<%}%>
		<%if(((result[0].resolved == 1) &&((role == 'student') || (role == 'secy' && result[0].student_id == null)))){%>
			<%if(result[0].stars == null){%>
				<button class='stars' onclick='changeRating("1")'><span class="fa fa-star"></span></button>
				<button class='stars' onclick='changeRating("2")'><span class="fa fa-star"></span></button>
				<button class='stars' onclick='changeRating("3")'><span class="fa fa-star"></span></button>
				<button class='stars' onclick='changeRating("4")'><span class="fa fa-star"></span></button>
				<button class='stars' onclick='changeRating("5")'><span class="fa fa-star"></span></button>

				<form method='post'>
					<input type="number" name="stars" id='stars' value='0'/>
					<p>Comments:<br/><textarea rows="10" cols="50" name="comments"></textarea></p>
					<button type="submit">Submit</button>
				</form>
			<%}else{%>
				<p>Your Review</p>
				<%for(var i=0;i<5;i++){%>
					<%if(i<Number(result[0].stars)){%>
						<span class="fa fa-star checked"></span>
					<%}else{%>
						<span class="fa fa-star"></span>
					<%}%>
				<%}%>
				<%if(result[0].comments!=''){%>
					<p>Comments: <%=result[0].comments%></p>
				<%}%>
			<%}%>
		<%}%>
	<%}else{%>
		<p>Data Not Found</p>
	<%}%>
</body>
</html>